.pc {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pc span {
  font-size: 35px;
  font-weight: bold;
}
.border {
  box-shadow: 0px 0px 13px rgb(255, 255, 255);
}
.required {
  background-color: red;
}

.ci {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.206);
}

.one {
  width: 80%;
  height: 80%;
}
.two {
  width: 50%;
  height: 50%;
}
.three {
  width: 30%;
  height: 30%;
}
